<!doctype>
<html>
    <head>
        <link href="/reset.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
        <link href="/movingCloud.css" rel="stylesheet">
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/movingCloud.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="social">
                    <a class="github" target="_blank" href="" title="github"></a>
                    <a class="weibo" target="_blank" href="" title="weibo"></a>
                    <a class="rss" target="_blank" href="" title="rss"></a>
                    <a class="google" target="_blank" href="" title="google"></a>
                    <a class="linkedin" target="_blank" href="" title="linkedin"></a>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="container-screen">

            </div>
            <div class="container-menu">

            </div>
            <div class="container-menu-bottom">

            </div>
            <div class="container-curtain">

            </div>
        </div>
        <footer></footer>
    </body>
</html>