<!doctype html>
<html>
    <head>
        <link href="/stylesheets/reset.css" rel="stylesheet">
        <link href="/stylesheets/shaizi.css" rel="stylesheet">
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/shaizi.js"></script>
    </head>
    <body>
        <div id="cube-con">
            <div id="cube">
                <figure class="front">1</figure>
                <figure class="back">5</figure>
                <figure class="right">6</figure>
                <figure class="left">2</figure>
                <figure class="top">4</figure>
                <figure class="bottom">3</figure>
            </div>
        </div>
    </body>
</html>

